<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav sideGrad"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><span class="text-white font-bold">Ecom App</span></mat-toolbar
    >
    <mat-divider></mat-divider>
    <div class="flex flex-col justify-between items-center w-full h-[90vh]">
      <div class="flex flex-col justify-start items-center w-full">
        <button
          class="flex flex-row justify-center items-center w-[90%] text-white font-bold text-[17px] mt-3 mb-1 transition-all ease-in-out duration-500 rounded-md hove hover:bg-gray-400"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="m-2 text-white">home</mat-icon> Dashbourd
        </button>
        <button
          class="flex flex-row justify-center items-center w-[90%] text-white font-bold text-[17px] mt-3 mb-1 transition-all ease-in-out duration-500 rounded-md hover"
          routerLink="/users"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="m-2 text-white">group</mat-icon> Users
        </button>
        <button
          class="flex flex-row justify-center items-center w-[90%] text-white font-bold text-[17px] mt-3 mb-1 transition-all ease-in-out duration-500 rounded-md hover"
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="m-2 text-white">outbox</mat-icon> Products
        </button>
        <button
          class="flex flex-row justify-center items-center w-[90%] text-white font-bold text-[17px] mt-3 mb-1 transition-all ease-in-out duration-500 rounded-md hover"
          routerLink="/orders"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="m-2 text-white">check_circle</mat-icon>
          orders
        </button>
      </div>
      <div class="flex flex-col items-center justify-start w-full">
        <mat-divider></mat-divider>
        <button
          class="flex flex-row justify-center items-center w-[90%] text-white font-bold text-[17px] mt-3 mb-1 transition-all ease-in-out duration-500 rounded-md hover"
        >
          <mat-icon class="m-2 text-white">logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbarGrad text-white sticky top-0 z-[100]">
      <button
        type="button"
        aria-label="Toggle sidenav"
        class="text-white"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon" class="text-white"
          >menu</mat-icon
        >
      </button>
      <span class="flex md:hidden flex-1"></span>
      <div
        class="flex-1 flex-row justify-center items-center h-[60px] w-full hidden md:flex"
      >
        <input
          type="text"
          placeholder="Search Products"
          class="p-2 w-[30%] rounded-bl-md rounded-tl-md outline-none h-[40px] text-black"
        />
        <button
          class="w-fit h-[40px] bg-slate-300 text-black font-bold p-2 rounded-tr-md rounded-br-md"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div
        class="flex flex-row justify-center items-center cursor-pointer"
        *ngIf="user !== null"
      >
        <button
          class="m-2 p-2 bg-none w-fit h-fit text-white flex md:hidden"
          (click)="toggleMobileSearch(true)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <img src="{{ user.imgUrl }}" class="w-10 h-10 m-2 rounded-full" />
        <span class="text-md font-bold text-white m-1 hidden md:flex">{{
          user.name
        }}</span>
        <mat-icon class="m-1 text-white">arrow_drop_down</mat-icon>
      </div>
    </mat-toolbar>
    <div
      class="h-[fit-content] sticky top-[60px] flex w-full flex-col navbarGrad"
      *ngIf="mobileSearch"
    >
      <div class="flex flex-1 justify-between items-center m-2">
        <span>Search</span>
        <mat-icon class="text-white" (click)="toggleMobileSearch(false)"
          >close</mat-icon
        >
      </div>
      <div class="flex flex-1 items-center justify-center m-2">
        <input
          type="text"
          placeholder="Search Products"
          class="p-2 w-[100%] flex-1 rounded-bl-md rounded-tl-md outline-none h-[40px] text-black"
        />
        <button
          class="w-fit h-[40px] bg-slate-300 text-black font-bold p-2 rounded-tr-md rounded-br-md"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
