<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="dashboard-card-content flex w-full h-full justify-center items-center text-center"
        >
          <div
            class="ChartDiv"
            class="flex w-full h-[98%] justify-center items-center"
            *ngIf="card.data === 'chart'"
          >
            <canvas id="myChart" class="w-full h-[95%] p-2" #myLinechart>{{
              linechart === null ? "" : linechart
            }}</canvas>
          </div>
          <div class="flex-1 w-full h-full justify-center items-center mt-20">
            <span
              class="text-2xl font-bold m-2"
              *ngIf="card.data === 'price'"
              >{{ totalPrice | currency }}</span
            >
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
